@charset "utf-8";

/************************
	author:xiewulong
	date:2011/5/1
	css reset
************************/

/*reset*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{padding:0;margin:0;}
table{border-collapse:collapse;border-spacing:0;}
fieldset,img{border:0;}
abbr,acronym{border:0;font-variant:normal;}
address,caption,cite,code,dfn,em,strong,th,var{font-weight:normal;font-style:normal;}
ol,ul{list-style:none;}
h1,h2,h3,h4,h5,h6{font-weight:normal;font-size:100%;}
a{text-decoration:none;}
:focus{outline:0;}
sup,sub{font-size:100%;vertical-align:baseline;}

/*************************************************************
	layout:960 Grid System
	宋体:'\5B8B\4F53',SimSun
	微软雅黑:'\5FAE\8F6F\96C5\9ED1',Microsoft Yahei
*************************************************************/

/*body*/
body{font-size:12px;font-family:'\5B8B\4F53',SimSun,Calibri,Helvetica,Arial,Verdana,sans-serif;}

/*960 grid system*/
.w30{width:30px;}
.w40{width:40px;}
.w60{width:60px;}
.w70{width:70px;}
.w100{width:100px;}
.w110{width:110px;}
.w140{width:140px;}
.w150{width:150px;}
.w160{width:160px;}
.w190{width:190px;}
.w220{width:220px;}
.w230{width:230px;}
.w270{width:270px;}
.w280{width:280px;}
.w300{width:300px;}
.w310{width:310px;}
.w340{width:340px;}
.w350{width:350px;}
.w380{width:380px;}
.w390{width:390px;}
.w400{width:400px;}
.w430{width:430px;}
.w460{width:460px;}
.w470{width:470px;}
.w510{width:510px;}
.w520{width:520px;}
.w540{width:540px;}
.w550{width:550px;}
.w580{width:580px;}
.w590{width:590px;}
.w620{width:620px;}
.w630{width:630px;}
.w640{width:640px;}
.w670{width:670px;}
.w700{width:700px;}
.w710{width:710px;}
.w750{width:750px;}
.w760{width:760px;}
.w780{width:780px;}
.w790{width:790px;}
.w820{width:820px;}
.w830{width:830px;}
.w860{width:860px;}
.w870{width:870px;}
.w880{width:880px;}
.w910{width:910px;}
.w940{width:940px;}
.w950{width:950px;}
.w960{width:960px;}

/*margin*/
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt20{margin-top:20px;}
.mr5{margin-right:5px;}
.mr10{margin-right:10px;}
.mr20{margin-right:20px;}
.mb5{margin-bottom:5px;}
.mb10{margin-bottom:10px;}
.mb20{margin-bottom:20px;}
.ml5{margin-left:5px;}
.ml10{margin-left:10px;}
.ml20{margin-left:20px;}
.mrla{margin-right:auto;margin-left:auto;}

/*padding*/
.pt5{padding-top:5px;}
.pt10{padding-top:10px;}
.pt20{padding-top:20px;}
.pr5{padding-right:5px;}
.pr10{padding-right:10px;}
.pr20{padding-right:20px;}
.pb5{padding-bottom:5px;}
.pb10{padding-bottom:10px;}
.pb20{padding-bottom:20px;}
.pl5{padding-left:5px;}
.pl10{padding-left:10px;}
.pl20{padding-left:20px;}

/*position*/
.pr{position:relative;_zoom:1;}
.pa{float:left;position:absolute;}

/*float*/
.fl{display:inline;float:left;}
.fr{display:inline;float:right;}

/*text-align*/
.tl{text-align:left;}
.tc{text-align:center;}
.tr{text-align:right;}

/*vertical-align*/
.vt{vertical-align:top;}
.vm{vertical-align:middle;}
.vb{vertical-align:baseline;}

/*word-break*/
.wbn{word-break:keep-all;white-space:nowrap;}
.wby{word-break:break-all;word-wrap:break-word;white-space:normal;}

/*fix*/
.fix{zoom:1;}
.fix:before,.fix:after{content:'.';display:block;overflow:hidden;visibility:hidden;font-size:0;line-height:0;width:0;height:0;}
.fix:after{clear:both;}

/*auto*/
.auto{overflow:hidden;_zoom:1;}

/*font-size*/
.fs12{font-size:12px;}
.fs14{font-size:14px;}
.fs16{font-size:16px;}
.fs18{font-size:18px;}

/*color*/
.c000{color:#000;}
.cf00{color:#f00;}
.cfff{color:#fff;}